<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>

    <title>파인딩랩</title>

    <meta name="robots" content="index,follow">
    <meta  property="og:type" content="website" />
    <meta property="og:title" content="파인딩랩">
    <meta property="og:description" content="비대면 면접의 시작">
    <meta property="og:url" content="https://www.trycatch.co.kr/">
    <meta name='title' content='파인딩랩 홈페이지' />
    <meta name='description' content='비대면 면접의 시작 파인딩에서 시작하세요' />
    <meta name='keywords' content='구인,구직,채용플랫폼,비대면,비대면 면접,면접,취업' />
    <meta name="naver-site-verification" content="c7a1a1c04b0ddb83684c8b1e22c7323078737b9a" />

    <link rel="shortcut icon" href="https://static.trycatch.co.kr/assets/img/logo/favicon.ico" />
    <link rel="apple-touch-icon" sizes="114x114" href="https://static.trycatch.co.kr/assets/img/logo/iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://static.trycatch.co.kr/assets/img/logo/ipad.png" />
    <link rel='stylesheet' href='../assets/css/finding-lab/common.css'/>

    <script type="text/javascript" src="../assets/js/finding-lab.js"></script>
</head>
<body>
    <header>
        <div class="logo" data-scroll="fullPage">finding-lab logo</div>
        <nav class="menu">
            <button type="button" class="m-nav mNav">
                <p></p>
                <p></p>
                <p></p>
            </button>
            <div class="menu-list menuList">
                <ul>
                    <li data-scroll="section_1">비전 & 미션</li>
                    <li data-scroll="section_2">서비스 소개</li>
                    <li data-scroll="section_3">주요 고객사</li>
                    <li data-scroll="section_4">파인딩은?</li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <article role="main" id="fullPage">
            <div class="content animated fadeIn">
                <h2>취업의 마침표를 찍다.</h2>
                <span></span>
                <p>복잡한 취업 활동을 간편하게 할 수 없을까?</p>
                <p>적은 비용으로 기업과 딱 맞는 인재를 영입할 수 없을까?</p>
                <p>파인딩은 작은 고민에서부터 시작하였습니다.</p>
            </div>
            <div class="mob"></div>
        </article>
        <article id="scrollPage">
            <section id="section_1" class="vision" aria-label="비전&미션">
                <div class="content">
                    <h2 class="mob-flex-column animated2">
                        <p>더 나은 채용 문화를 만들기 위해</p>
                        <p>끊임없이 고민합니다.</p>
                    </h2>
                    <ul class="mainColor-box">
                        <li class="mob-flex-column animated2">
                            <i></i>
                            <h3>편의성</h3>
                            <div class="txt">
                                <p>구직자 · 채용 담당자의 시각으로</p>
                                <p>더욱더 편리하게 채용 플랫폼을 이용할 수</p>
                                <p>있도록 고민합니다.</p>
                            </div>
                        </li>
                        <li class="mob-flex-column animated2">
                            <i></i>
                            <h3>채용 브랜딩</h3>
                            <div class="txt">
                                <p>한 명의 인재를 채용하는데 목적을 두지</p>
                                <p>않고, 더 나아가 채용 브랜딩을 통해  좋은</p>
                                <p>인재들이 유입될 수 있도록 고민합니다.</p>
                            </div>
                        </li>
                        <li class="mob-flex-column animated2">
                            <i></i>
                            <h3>역량 강화</h3>
                            <div class="txt">
                                <p>정보의 값어치가 높아져가는 현대사회에</p>
                                <p>구직자와 기업의 성장에 도움이 될 수 있는</p>
                                <p>양질의 콘텐츠를 꾸준히 제공할 수 있도록</p>
                                <p>고민합니다.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="section_2" class="service" aria-label="서비스 소개">
                <div class="content">
                    <h2 class="animated2">
                        <p>채용 플랫폼 시장에 <span class="mainColor-txt">파인딩</span>이라는</p>
                        <p>새로운 패러다임을 제시합니다.</p>
                    </h2>
                    <ul class="mainColor-box">
                        <li data-img="service_01.webp" class="animated2">
                            <i></i>
                            <div>
                                <h3>채용 + 광고</h3>
                                <p>광고 기술 중 하나인 리타겟팅 기법을 접목하여 외부에서의 채용 공고 유입 극대화</p>
                            </div>
                        </li>
                        <li data-img="service_02.webp" class="animated2">
                            <i></i>
                            <div>
                                <h3>화상 면접</h3>
                                <p>어플리케이션을 통해 언제, 어디서든 화상 면접 서비스 제공</p>
                            </div>
                        </li>
                        <li data-img="service_03.webp" class="animated2">
                            <i></i>
                            <div>
                                <h3>AI 매칭</h3>
                                <p>유저 행동 예측을 통한 구직자 및 기업간 타겟 추천 매칭</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="section_3" class="client" aria-label="주요 고객사">
                <div class="content">
                    <h2><p>파인딩과 함께 성장하고 발전할</p><p><span class="mainColor-txt">주요 고객사</span>입니다.</p></h2>
                    <ul class="clientList client-list">
                    </ul>
                </div>
                <div class="bottom-bg">
                    <ul class="client-sub-list clientSubList"></ul>
                </div>
            </section>
            <section id="section_4" class="about" aria-label="파인딩은?">
                <div class="content">
                    <div>
                        <h3 class="mainColor-txt">the  FINDING
                        </h3>
                        <h2>
                            <p>파인딩이 추구하는</p>
                            <p>사내 문화</p>
                        </h2>
                    </div>
                    <ul class="aboutImg about-img">
                    </ul>
                </div>
            </section>
        </article>
    </div>
    <footer>
        <div>
            <h1 class="logo"></h1>
            <div>
                <div><p>평일 10:00 ~ 19:00, 주말·공휴일 휴무</p><p>고객센터 02-868-7778</p></div>
                <p>서울특별시 금천구 가산디지털1로 149 505호</p>
                <div><p>통신판매업신고번호 : 제 2022-서울금천-1746호</p><p>직업정보제공사업 신고번호 : J1202020210011</p></div>
                <p>사업자등록번호 588-86-02220</p>
                <p class="gray">Copyright(c) FINDINGLAB All rights reserved.</p>
            </div>
        </div>
        <div class="mob">
            <h1 class="logo"></h1>
            <ul>
                <li onclick="window.open('https://www.facebook.com/FINDING.CORP')">페이스북 아이콘</li>
                <li onclick="window.open('https://blog.naver.com/finding_lab_')">네이버 블로그 아이콘</li>
                <li onclick="window.open('https://www.instagram.com/findinglab/')">인스타그램 아이콘</li>
                <li onclick="window.open('https://www.linkedin.com/company/findinglab/?viewAsMember=true')">링크드인 아이콘</li>
            </ul>
        </div>
    </footer>
    <div class="dim"></div>
    <div id="floatingBtn" class="floating-btn">
        <p>
            <span></span>
            <span></span>
        </p>
        <div class="mob-btn-container">
            <div class="app">
                <button class="web" onclick="window.open('https://finding.trycatch.co.kr/')">파인딩 home<i></i></button>
                <button class="androidApp" onclick="window.open('https://play.google.com/store/apps/details?id=com.pounding.finding')">파인딩 android<i></i></button>
                <button class="iosApp" onclick="window.open('https://apps.apple.com/kr/app/%ED%8C%8C%EC%9D%B8%EB%94%A9-finding/id1632567885')">파인딩 ios<i></i></button>
            </div>
            <div class="download">
                <button class="productIntroduction" onclick="window.open('https://static.trycatch.co.kr/'+ encodeURIComponent('파인딩및+서비스+소개서+v1.pdf'))">상품소개서<i></i></button>
                <button class="iR" onclick="window.open('https://static.trycatch.co.kr/'+ encodeURIComponent('파인딩랩+IR.pdf'))">IR 자료<i></i></button>
                <button class="iR" onclick="window.open('https://youtu.be/sQ5xLu5UGeA')">기업소개<span></span></button>
            </div>
        </div>
    </div>
</body>
</html>